<html ng-app="myAppModule">

<head>
<script src="../lib/angular.js"></script>
<script src="app.js"></script>
</head>

<body ng-controller="mainCtrl">

	<div>
		<h1>Hello Angular</h1>
		<p ng-if="hourOfDay < 12">Good Morning</p>
		<p ng-if="hourOfDay > 17">Good Evening</p>

		<p>Please enter your name: <input ng-model="userName" ng-change="textChange()" type="text"> </input></p>
		<p>Please enter your name: <input ng-model="userName" ng-change="textChange()" type="text"> </input></p>
		<p>Date: <input ng-model="dateValue" type="date"> </input></p>
		<p>Checkbox: <input ng-model="booleanValue" type="checkbox"> </input></p>
		<p>Radio: 
			<input ng-model="radioValue" type="radio" value="val1">Option 1</input>
			<input ng-model="radioValue" type="radio" value="val2">Option 2</input>
			<input ng-model="radioValue" type="radio" value="val3">Option 3</input>
		</p>

		<p>Hour of the day: <span ng-bind="hourOfDay"></span></p>
		<p>Hour of the day: <span>{{hourOfDay}}</span></p>
		<p ng-bind="hourOfDay">Hour of the day: <span ng-bind="hourOfDay"></span></p>
		<p>Time is: <span>{{curTme}}</span></p>
		<button ng-click="updateTime()">update time</button>

		<p>Your name: <span>{{userName}}</span></p>
		<p>Date: <span>{{dateValue}}</span></p>
		<p>Checkbox: <span>{{booleanValue}}</span></p>
		<p>Radio: <span>{{radioValue}}</span></p>
	</div>

</body>

</html>
